{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{-	  if eq .workspace "personal" }}
brew "libpng"
brew "jpeg-xl"
brew "aom"
brew "bash-completion"
brew "bat"
brew "cabextract"
brew "chezmoi"
brew "freetype"
brew "exa"
brew "exercism"
brew "fd"
brew "fzf"
brew "libavif"
brew "gh"
brew "git"
brew "htop"
brew "imagemagick"
brew "jpeg"
brew "nano"
brew "neofetch"
brew "nmap"
brew "nsnake"
brew "php"
brew "prettyping"
brew "pyenv"
brew "python@3.10"
brew "python@3.11"
brew "qrencode"
brew "ruby-build"
brew "rbenv"
brew "subversion"
brew "telnet"
brew "tmux"
brew "trash"
brew "tree"
brew "wimlib"
brew "zsh"
brew "jandedobbeleer/oh-my-posh/oh-my-posh"
cask "1password"
cask "1password-cli"
cask "alfred"
cask "appcleaner"
cask "balenaetcher"
cask "bartender"
cask "blender"
cask "brave-browser"
cask "cyberduck"
cask "dropbox"
cask "filezilla"
cask "flip4mac"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-hasklig"
cask "font-iosevka"
cask "font-sauce-code-pro-nerd-font"
cask "font-source-code-pro"
cask "github"
cask "google-chrome"
cask "handbrake"
cask "imagealpha"
cask "imageoptim"
cask "inkdrop"
cask "iterm2"
cask "karabiner-elements"
cask "ledger-live"
cask "logi-options-plus"
cask "mark-text"
cask "openvpn-connect"
cask "postman"
cask "private-internet-access"
cask "readdle-spark"
cask "rectangle"
cask "silverlight"
cask "slack"
cask "spotify"
cask "tableplus"
cask "the-unarchiver"
cask "via"
cask "visual-studio-code"
cask "vlc"
EOF
{{-   else if eq .workspace "work" }}
# Work package list goes here

{{   end -}}
{{ end -}}