source "$ZDOTDIR/environment.zsh"

# autoload global functions
autoload is-at-least

# ZSH configuration
HISTFILE=$XDG_CACHE_HOME/zsh/histfile
HISTSIZE=1000
SAVEHIST=1000
ENABLE_CORRECTION="true"
EDITOR="code"
bindkey -e # use emacs key bindings (default)

# Load and configure zsh completion
autoload -Uz compinit
compinit -d $XDG_CACHE_HOME/zsh/zcompdump
# automatically load bash completion functions
autoload -U +X bashcompinit && bashcompinit

# Aliases
source "$ZDOTDIR/aliases.zsh"

# Load plugins
source "$ZDOTDIR/plugins.zsh"
