# ZSH configuration
HISTFILE=$XDG_CONFIG_HOME/.histfile
HISTSIZE=1000
SAVEHIST=1000
ENABLE_CORRECTION="true"
bindkey -e

zstyle ':compinstall' filename "$HOME/.zshrc"

# Load and configure zsh completion
autoload -Uz compinit
compinit

# add Homebrew to PATH on apple silicon
[ -f /opt/homebrew/bin/brew ] && eval "$(/opt/homebrew/bin/brew shellenv)"

# safely add android tools to PATH
export ANDROID_HOME=$HOME/Library/Android/sdk
if [ -v "$ANDROID_HOME" ]; then
    export PATH=$PATH:$ANDROID_HOME/emulator
    export PATH=$PATH:$ANDROID_HOME/tools
    export PATH=$PATH:$ANDROID_HOME/tools/bin
    export PATH=$PATH:$ANDROID_HOME/platform-tools
fi

# Safely load oh-my-posh
if command -v oh-my-posh 1>/dev/null 2>&1; then
    eval "$(oh-my-posh init zsh --config $XDG_DATA_HOME/oh-my-posh/themes/thismarioperez.omp.json)"
fi

# Safely load nvm and it's completions
export NVM_DIR="$XDG_CONFIG_HOME/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"                   # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" # This loads nvm bash_completion

# Aliases
{{ includeTemplate "aliases/zsh/index.zsh.tmpl" . }}

# Plugins
export ZSH_PLUGINS_PATH="$XDG_DATA_HOME/zsh/plugins"

# zoxide
if command -v zoxide 1>/dev/null 2>&1; then
    eval "$(zoxide init zsh)"
fi

# fzf
if [ -f "$ZSH_PLUGINS_PATH/fzf/fzf.plugin.sh" ]; then
    source "$ZSH_PLUGINS_PATH/fzf/fzf.plugin.sh"
fi

# fzf-tab
if [ -f "$ZSH_PLUGINS_PATH/fzf-tab/fzf-tab.plugin.zsh" ]; then
    source "$ZSH_PLUGINS_PATH/fzf-tab/fzf-tab.plugin.zsh"
    # configure
    # use popup mode in tmux
    zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup
    # disable sort when completing `git checkout`
    zstyle ':completion:*:git-checkout:*' sort false
fi

# git
if [ -f "$ZSH_PLUGINS_PATH/git/git.plugin.sh" ]; then
    source "$ZSH_PLUGINS_PATH/git/git.plugin.sh"
fi

# zsh-autosuggestions
if [ -f "$ZSH_PLUGINS_PATH/zsh-autosuggestions/zsh-autosuggestions.zsh" ]; then
    export ZSH_AUTOSUGGEST_STRATEGY=(history completion)
    source "$ZSH_PLUGINS_PATH/zsh-autosuggestions/zsh-autosuggestions.zsh"
fi

# zsh-syntax-highlighting - ALWAYS LOAD LAST
if [ -f "$ZSH_PLUGINS_PATH/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh" ]; then
    source "$ZSH_PLUGINS_PATH/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
fi
