# Plugins
export ZSH_PLUGINS_PATH="$XDG_DATA_HOME/zsh/plugins"

# fzf
if command -v fzf 1>/dev/null 2>&1; then # Check if global fzf is installed
    # fzf binary configuration
    export FZF_DEFAULT_COMMAND="fd . $HOME"
    export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
    export FZF_ALT_C_COMMAND="fd -t d . $HOME"
    export FZF_COMPLETION_TRIGGER='**'

    # fzf plugin
    if [ -f "$ZSH_PLUGINS_PATH/fzf/fzf.plugin.zsh" ]; then
        source "$ZSH_PLUGINS_PATH/fzf/fzf.plugin.zsh"
    fi

    # fzf-tab
    if [ -f "$ZSH_PLUGINS_PATH/fzf-tab/fzf-tab.plugin.zsh" ]; then
        # configuration
        # use popup mode in tmux
        zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup
        # disable sort when completing `git checkout`
        zstyle ':completion:*:git-checkout:*' sort false

        source "$ZSH_PLUGINS_PATH/fzf-tab/fzf-tab.plugin.zsh"
    fi
fi

# git
if [ -f "$ZSH_PLUGINS_PATH/git/git.plugin.zsh" ]; then
    source "$ZSH_PLUGINS_PATH/git/git.plugin.zsh"
fi

# nvm
# configuration instructions @see:https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/nvm
if [ -f "$ZSH_PLUGINS_PATH/nvm/nvm.plugin.zsh" ]; then
    export NVM_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/nvm" # Point to custom install location

    # Normal loading is not needed. Plugin handles loading now
    # [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"                   # This loads nvm
    # [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" # This loads nvm bash_completion

    # configuration
    zstyle ':omz:plugins:nvm' lazy yes     # enable lazy load
    zstyle ':omz:plugins:nvm' autoload yes # enable autoload (note, if lazy is turned on, this only works after loading nvm)
    # zstyle ':omz:plugins:nvm' silent-autoload yes # optionally remove the output generated by NVM when autoloading

    source "$ZSH_PLUGINS_PATH/nvm/nvm.plugin.zsh" # This loads nvm with custom functionality
fi

# oh-my-posh
if command -v oh-my-posh 1>/dev/null 2>&1; then
    eval "$(oh-my-posh init zsh --config $XDG_DATA_HOME/oh-my-posh/themes/thismarioperez.omp.json)"
fi

# zoxide
if command -v zoxide 1>/dev/null 2>&1; then
    eval "$(zoxide init zsh)"
fi

# zsh-autosuggestions
if [ -f "$ZSH_PLUGINS_PATH/zsh-autosuggestions/zsh-autosuggestions.zsh" ]; then
    # configuration
    export ZSH_AUTOSUGGEST_STRATEGY=(completion history)

    source "$ZSH_PLUGINS_PATH/zsh-autosuggestions/zsh-autosuggestions.zsh"
fi

# zsh-syntax-highlighting - ALWAYS LOAD LAST
if [ -f "$ZSH_PLUGINS_PATH/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh" ]; then
    source "$ZSH_PLUGINS_PATH/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
fi
