{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install macOS Packages

# Install/Update nvm
# install-nvm.sh.tmpl hash: {{ includeTemplate "install-nvm.sh.tmpl" . | sha256sum }}
{{ includeTemplate "install-nvm.sh.tmpl" . }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{      if eq .workspace "personal" -}}
tap "homebrew/cask-fonts"
tap "jandedobbeleer/oh-my-posh"
brew "libpng"
brew "jpeg-xl"
brew "aom"
brew "bash-completion"
brew "bat"
brew "cabextract"
brew "freetype"
brew "exercism"
brew "eza"
brew "fd"
brew "fzf"
brew "libavif"
brew "gh"
brew "git"
brew "htop"
brew "imagemagick"
brew "jandedobbeleer/oh-my-posh/oh-my-posh"
brew "jpeg"
brew "jq"
brew "nano"
brew "neofetch"
brew "nmap"
brew "nsnake"
brew "php"
brew "prettyping"
brew "pyenv"
brew "python@3.10"
brew "python@3.11"
brew "qrencode"
brew "ruby-build"
brew "rbenv"
brew "subversion"
brew "telnet"
brew "tmux"
brew "trash"
brew "tree"
brew "wimlib"
brew "yarn"
brew "zsh"
brew "zoxide"
cask "1password"
cask "1password-cli"
cask "alfred"
cask "amethyst"
cask "appcleaner"
cask "balenaetcher"
cask "bartender"
cask "blender"
cask "brave-browser"
cask "cyberduck"
cask "dropbox"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-hasklig"
cask "font-iosevka"
cask "font-sauce-code-pro-nerd-font"
cask "font-source-code-pro"
cask "github"
cask "google-chrome"
cask "handbrake"
cask "imagealpha"
cask "imageoptim"
cask "inkdrop"
cask "iterm2"
cask "karabiner-elements"
cask "ledger-live"
cask "logi-options-plus"
cask "mark-text"
cask "openvpn-connect"
cask "postman"
cask "private-internet-access"
cask "readdle-spark"
cask "slack"
cask "spaceid"
cask "spotify"
cask "tableplus"
cask "the-unarchiver"
cask "via"
cask "visual-studio-code"
cask "vlc"
{{      else if eq .workspace "work" -}}
tap "jandedobbeleer/oh-my-posh"
brew "libpng"
brew "bash-completion"
brew "bat"
brew "bitwarden-cli"
brew "cabextract"
brew "freetype"
brew "chezmoi"
brew "cmatrix"
brew "cocoapods"
brew "gnutls"
brew "qemu"
brew "lima"
brew "colima", restart_service: true
brew "freetds"
brew "krb5"
brew "php"
brew "composer"
brew "docker"
brew "folly"
brew "edencommon"
brew "exercism"
brew "eza"
brew "fizz"
brew "wangle"
brew "fb303"
brew "fbthrift"
brew "fd"
brew "gcc"
brew "harfbuzz"
brew "ffmpeg"
brew "fzf"
brew "gh"
brew "git"
brew "libassuan"
brew "gnupg"
brew "htop"
brew "imagemagick"
brew "jandedobbeleer/oh-my-posh/oh-my-posh"
brew "jpeg"
brew "jq"
brew "llvm"
brew "make"
brew "mariadb", restart_service: true
brew "nano"
brew "ncdu"
brew "neofetch"
brew "nsnake"
brew "nss"
brew "openssh"
brew "prettyping"
brew "pyenv"
brew "ruby-build"
brew "rbenv"
brew "spotify-tui"
brew "sshpass"
brew "subversion"
brew "switchaudio-osx"
brew "tmux"
brew "trash"
brew "tree"
brew "vips"
brew "watchman"
brew "wget"
brew "wimlib"
brew "yarn"
brew "zsh"
brew "zoxide"
brew "ddev/ddev/ddev"
cask "1password"
cask "1password-cli"
cask "alacritty"
cask "alfred"
cask "amethyst"
cask "android-studio"
cask "appcleaner"
cask "arc"
cask "bartender"
cask "brave-browser"
cask "browserstacklocal"
cask "chatgpt"
cask "cyberduck"
cask "dropbox"
cask "droplr"
cask "figma"
cask "firefox"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-hasklig"
cask "font-iosevka"
cask "font-sauce-code-pro-nerd-font"
cask "font-source-code-pro"
cask "fontplop"
cask "github"
cask "google-chrome"
cask "imagealpha"
cask "imageoptim"
cask "inkdrop"
cask "inkscape"
cask "iterm2"
cask "karabiner-elements"
cask "logi-options-plus"
cask "mac-mouse-fix"
cask "macdown"
cask "mark-text"
cask "microsoft-remote-desktop"
cask "microsoft-teams"
cask "ngrok"
cask "openoffice"
cask "openvpn-connect"
cask "paintbrush"
cask "postman"
cask "qmk-toolbox"
cask "react-native-debugger"
cask "readdle-spark"
cask "slack"
cask "spaceid"
cask "spotify"
cask "tableplus"
cask "temurin8"
cask "the-unarchiver"
cask "tor-browser"
cask "via"
cask "visual-studio-code"
cask "vlc"
cask "xquartz"
cask "yacreader"
cask "zeplin"
cask "zoom"
cask "zulu17"
{{      end -}}
EOF

{{ end -}}