{{ if eq .chezmoi.os "linux" }}
#!/bin/bash

# Install oh-my-posh for all distributions
echo "Installing oh-my-posh..."
curl -s https://ohmyposh.dev/install.sh | bash -s

{{   if eq .chezmoi.osRelease.id "debian" }}
# Debian-specific code

sudo apt update \
&& sudo apt install \
	bat \
	chezmoi \
	exa \
	fzf \
	git \
	nano \
	tmux \
	zsh

{{   else if eq .chezmoi.osRelease.id "fedora" }}
echo "Unsupported Linux distribution"
# Fedora-specific code
exit 1

{{   else if eq .chezmoi.osRelease.id "arch" }}
echo "Unsupported Linux distribution"
# Arch-specific code
exit 1

{{   else }}
echo "Unsupported Linux distribution"
exit 1

{{   end }}

{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	# WSL-specific code
{{   end }}

{{ end }}