{{ if eq .chezmoi.os "windows" -}}
{{ else if or .chezmoi.os "darwin" "linux" -}}
#!/bin/bash

echo "Run \"exec zsh\" to reload your shell"
echo "If this is your first install, run \"source ~/.zshenv && exec zsh\""
{{ end -}}