{{ if eq .chezmoi.os "windows" -}}
echo "
--------------------------------------------------------------------------
               ____  ____  __________________    ___________
              / __ \/ __ \/_  __/ ____/  _/ /   / ____/ ___/
             / / / / / / / / / / /_   / // /   / __/  \__ \ 
            / /_/ / /_/ / / / / __/ _/ // /___/ /___ ___/ / 
           /_____/\____/ /_/ /_/   /___/_____/_____//____/  
                                                             
--------------------------------------------------------------------------

 Run '. `$PROFILE' to reload your shell

--------------------------------------------------------------------------
"
{{ end -}}
