{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Install Linux Packages
{{      if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") -}}
# Ubuntu/Debian-specific code

sudo apt update && \
sudo apt install -y \
	bat \
	build-essential \
	fzf \
	git \
	nano \
	tmux \
	unzip \
	zsh

# Install rust and cargo
echo "Installing rust and cargo"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path -y

export PATH=$PATH:$HOME/.cargo/bin # this adds cargo path to current shell
source "$HOME/.cargo/env" # this loads cargo for the current shell

# Install/Update eza
cargo install eza

# Install/Update nvm
# install-nvm.sh.tmpl hash: {{ includeTemplate "install-nvm.sh.tmpl" . | sha256sum }}
{{ includeTemplate "install-nvm.sh.tmpl" . }}

# Install oh-my-posh
echo "Installing oh-my-posh..."
curl -s https://ohmyposh.dev/install.sh | sudo bash -s

# Install zoxide
echo "Installing zoxide..."
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

{{      else if eq .chezmoi.osRelease.id "fedora" -}}
echo "Unsupported Linux distribution"
# Fedora-specific code
exit 1

{{      else if eq .chezmoi.osRelease.id "arch" -}}
echo "Unsupported Linux distribution"
# Arch-specific code
exit 1

{{      else -}}
echo "Unsupported Linux distribution"
exit 1

{{      end -}}

{{      if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# WSL-specific code
{{      end -}}

{{ end -}}
