function install_nvm() {
	echo "Installing/Updating nvm..."
	# Install nvm without modifying shell profile
	# @see: https://github.com/nvm-sh/nvm?tab=readme-ov-file#additional-notes
	PROFILE=/dev/null bash -c "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash"
}

install_nvm

[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

nvm install --lts  # install lts