{{- if eq .workspace "personal" }}
tap "buo/cask-upgrade"
tap "github/gh"
tap "hashnode/tap"
tap "homebrew/bundle"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "lencx/chatgpt", "https://github.com/lencx/ChatGPT.git"
tap "ravenac95/sudolikeaboss"
tap "vitorgalvao/tiny-scripts"
brew "libpng"
brew "jpeg-xl"
brew "aom"
brew "bash-completion"
brew "bat"
brew "cabextract"
brew "freetype"
brew "exa"
brew "exercism"
brew "fd"
brew "fzf"
brew "libavif"
brew "gh"
brew "ghostscript"
brew "git"
brew "gnutls"
brew "gnupg"
brew "htop"
brew "libheif"
brew "imagemagick"
brew "jpeg"
brew "mas"
brew "neofetch"
brew "nmap"
brew "nsnake"
brew "php"
brew "prettyping"
brew "pyenv"
brew "python@3.10"
brew "python@3.11"
brew "qrencode"
brew "ruby-build"
brew "rbenv"
brew "subversion"
brew "telnet"
brew "tmux"
brew "trash"
brew "tree"
brew "wimlib"
brew "zsh"
cask "1password"
cask "1password-cli"
cask "alfred"
cask "appcleaner"
cask "atom"
cask "balenaetcher"
cask "bartender"
cask "bitwarden"
cask "blender"
cask "brave-browser"
cask "chatgpt"
cask "cyberduck"
cask "discord"
cask "docker"
cask "dropbox"
cask "droplr"
cask "filebot"
cask "filezilla"
cask "firefox"
cask "flip4mac"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-hasklig"
cask "font-iosevka"
cask "font-sauce-code-pro-nerd-font"
cask "font-source-code-pro"
cask "github"
cask "google-chrome"
cask "handbrake"
cask "imagealpha"
cask "imageoptim"
cask "inkdrop"
cask "iterm2"
cask "karabiner-elements"
cask "ledger-live"
cask "logi-options-plus"
cask "macdown"
cask "mark-text"
cask "microsoft-remote-desktop"
cask "openoffice"
cask "openvpn-connect"
cask "paintbrush"
cask "postman"
cask "private-internet-access"
cask "qmk-toolbox"
cask "raspberry-pi-imager"
cask "readdle-spark"
cask "rectangle"
cask "rocket"
cask "silverlight"
cask "skitch"
cask "skype"
cask "slack"
cask "spotify"
cask "synologyassistant"
cask "tableplus"
cask "teamviewer"
cask "the-unarchiver"
cask "tinymediamanager"
cask "tor-browser"
cask "tuxguitar"
cask "via"
cask "visual-studio-code"
cask "vlc"
cask "vnc-viewer"
cask "xquartz"
cask "zeplin"
cask "zoom"
mas "DevCleaner", id: 1388020431
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "LittleIpsum", id: 405772121
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "SonicWall Mobile Connect", id: 822514576
mas "The Jackbox Party Pack 2", id: 1034034328
mas "Xcode", id: 497799835
{{- end }}

{{- if eq .workspace "work" }}
{{- end }}