{{ includeTemplate "aliases/0-config-unix-like.zsh.tmpl" . }}
{{ includeTemplate "aliases/1-config-linux.zsh.tmpl" . }}
{{ includeTemplate "aliases/2-config-osx.zsh.tmpl" . }}
{{ includeTemplate "aliases/3-config-windows.zsh.tmpl" . }}