{{ includeTemplate "aliases/zsh/0-config-unix-like.zsh.tmpl" . }}
{{ includeTemplate "aliases/zsh/1-config-linux.zsh.tmpl" . }}
{{ includeTemplate "aliases/zsh/2-config-osx.zsh.tmpl" . }}
{{ includeTemplate "aliases/zsh/3-config-windows.zsh.tmpl" . }}