{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#   ---------------------------------------
#   Unix-like aliases (Darwin & Linux)
#   ---------------------------------------
#   -----------------------------
#   1.  MAKE TERMINAL BETTER
#   -----------------------------
alias edit='$EDITOR'                # edit: Opens any file in code editor
alias cp='cp -iv'                   # Preferred 'cp' implementation
alias mv='mv -iv'                   # Preferred 'mv' implementation
alias mkdir='mkdir -pv'             # Preferred 'mkdir' implementation
alias ll='ls -FGlAhp'               # Preferred 'ls' implementation
if [ -x "$(command -v eza)" ]; then # Prefer eza to ls
  alias l="eza --icons --hyperlink"
  alias la="l -a"
  alias ls="l -l"
  alias ll="l -la"
fi
if [ -x "$(command -v bat)" ]; then # Prefer bat to cat
  alias cat="bat"
fi
if [ -x "$(command -v zoxide)" ]; then # Prefer zoxide to cd
  alias cd="z"
fi
alias -- -='cd -'
alias ..='cd ../'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../../'
alias .6='cd ../../../../../../'
alias 1='cd -1'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'
alias reload='exec zsh -l'                # Shortcut to reload zshrc (login shell)
alias ~="cd ~"                            # ~:            Go Home
alias c='clear'                           # c:            Clear terminal display
alias path='echo -e ${PATH//:/\\n}'       # path:         Echo all executable Paths
alias cic='set completion-ignore-case On' # cic:          Make tab-completion case-insensitive

#   -------------------------------
#   2.  FILE AND FOLDER MANAGEMENT
#   -------------------------------
alias numFiles='echo $(ls -1 | wc -l)' # numFiles:     Count of non-hidden files in current dir

#   ---------------------------
#   3.  NETWORKING
#   ---------------------------
alias myip='curl ifconfig.co'                     # myip:         Public facing IP Address
alias netCons='lsof -i'                           # netCons:      Show all open TCP/IP sockets

#   ---------------------------------------
#   4.  Productivity
#   ---------------------------------------
tmux_ls() {
  tmux ls -F'#{session_id}' | while read -r s; do
    S=$(tmux ls -F'#{session_id}#{session_name}: #{T:tree_mode_format}' | grep ^"$s")
    session_info=${S##$s}
    session_name=$(echo "$session_info" | cut -d ':' -f 1)
    if [[ -n "$1" ]] && [[ "$1" == "$session_name" ]]; then
      echo -e "\033[1;34m$session_info\033[0m"
    else
      echo -e "\033[1m$session_info\033[0m"
    fi
    tmux lsw -t"$s" -F'#{window_id}' | while read -r w; do
      W=$(tmux lsw -t"$s" -F'#{window_id}#{T:tree_mode_format}' | grep ^"$w")
      echo "  🖥️  ${W##$w}"
    done
  done
}

alias tmls='tmux_ls' # tmls:  Tmux list sessions

# Tmux attach to session
tmux_attach() {
  # List tmux sessions and select one with fzf
  session=$(
    tmux list-sessions | awk -F: '{print $1}' | fzf --exit-0
  )

  # Attach to the selected tmux session
  if [ -n "$session" ]; then
    tmux attach -t "$session"
  fi

}

alias tma='tmux_attach' # tma:  Tmux attach to session

# Tmux new session
tmux_new() {
  read "session_name?Enter the session name: "

  # Check if the session name is empty
  if [[ -z "$session_name" ]]; then
    echo "Session name cannot be empty."
    return 1
  fi

  # Check if the session already exists
  if tmux has-session -t "$session_name" 2>/dev/null; then
    echo "Session '$session_name' already exists. Attaching to it."
    tmux attach -t "$session_name"
  else
    # Create a new session with the provided name
    tmux new-session -d -s "$session_name"
    echo "New session '$session_name' created."
    tmux attach -t "$session_name"
  fi
}

alias tmn='tmux_new' # tmn:  Tmux new session

# Tmux session killer
tmux_kill() {
  session=$(
    tmux list-sessions | awk -F: '{print $1}' | fzf --exit-0
  )
  tmux kill-session -t "$session"
}

alias tmk='tmux_kill' # tmk:  Tmux session killer
{{ end -}}
