{{ includeTemplate "tmux/1-plugins.tmpl" . }}

{{ includeTemplate "tmux/2-config.tmpl" . }}

{{ includeTemplate "tmux/3-keybindings.tmpl" . }}

{{ includeTemplate "tmux/4-theme.tmpl" . }}

#### Initialize TPM ####

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.config/tmux/plugins/tpm/tpm'
