{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
[".config/tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    exact = true
    refreshPeriod = "168h"
[".local/share/zsh/plugins/fzf/fzf.plugin.zsh"]
    type = "file"
    url = "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/fzf/fzf.plugin.zsh"
    refreshPeriod = "168h"
[".local/share/zsh/plugins/fzf-tab"]
	type = "git-repo"
	url = "https://github.com/Aloxaf/fzf-tab.git"
	exact = true
    refreshPeriod = "168h"
[".local/share/zsh/plugins/git/git.plugin.zsh"]
    type = "file"
    url = "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/git/git.plugin.zsh"
    refreshPeriod = "168h"
[".local/share/zsh/plugins/nvm/nvm.plugin.zsh"]
    type = "file"
    url = "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/nvm/nvm.plugin.zsh"
    refreshPeriod = "168h"
[".local/share/zsh/plugins/zsh-autocomplete"]
    type = "git-repo"
    url = "https://github.com/marlonrichert/zsh-autocomplete.git"
    exact = true
    refreshPeriod = "168h"
[".local/share/zsh/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}