{{- $workspace := promptString "Workspace (Type 'personal' or 'work')" -}}
{{- $name := promptString "Name" -}}
{{- $email := promptString "Email" -}}
[data]
    workspace = "{{ $workspace }}"
    name = "{{ $name }}"
    email = "{{ $email }}"
[edit]
    command = "cursor"
    args = ["--wait"]